@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --LightBlue: #3F6FB6;
    --DarkBlue: #2D415F;
    --Orange: #FF6400;
    --DarkOrange: #FF5200;
}

* {margin: 0; padding: 0;}

/* Styling for the texts/fonts */
h1, h2, h3, h4, h5, h6, span, p, a {
    color: black;
    text-decoration: none;
}
h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 8px; }
p { font-size: 12px; }
a:hover {text-decoration: underline;}
body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 125px;
}

/* Styling for default lists */
.List {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}
.ListItem, .ListItem a {
    color: #FFFFFF;
    font-size: 20px;
    gap: 5px; 
}
.ListIcon {
    color: #FFFFFF;
    width: 18px;
    height: 18px;
}

/* Styling for the default buttons */
.btn {
    width: fit-content;
    padding: 8px 18px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    transition-duration: 300ms;
}
.btn:hover {
    text-decoration: none;
}
.btn-blue { background-color: var(--LightBlue); }
.btn-blue:hover { background-color: var(--DarkBlue); }
.btn-orange { background-color: var(--Orange); }
.btn-orange:hover { background-color: var(--DarkOrange); }
.btn-icon {
    display: flex;
    flex-direction: row;
    color: var(--LightBlue);
    border-bottom: 2px solid var(--LightBlue);
    padding: 15px 10px;
    align-content: center;
    text-decoration: none;
    transition-duration: 300ms;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}
.btn-icon:hover {
    color: var(--Orange);
    border-color: var(--Orange);
    text-decoration: none;
}

/* Flex styling */
.flexrow {
    display: flex;
    flex-direction: row;
}
.flexcol {
    display: flex;
    flex-direction: column;
}

/* Grid styling */
.grid {
    display: grid;
}

.Section {
    width: 100%;
}
.SectionTitle {
    padding: 15px 14px;
    background-color: var(--Orange);
    border-radius: 15px 15px 0 0;
    text-transform: uppercase;
}
.SectionTitle h2 {
    color: #FFFFFF;
}
.RowArticles {
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.ColArticles {
    gap: 10px;
}

/* Styling for the header navigation */
.Navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    background-color: var(--LightBlue);
}
.NavigationGroup {
    align-items: center;
    display: flex;
    padding: 12.5px 0;
    gap: 25px;
}
.NavigationLogo {
    width: 250px;
}
.NavItem {
    list-style-type: none;
}
.NavItem a {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition-duration: 300ms;

}
.NavItem a:hover {
    background-color: var(--DarkBlue);
}
.NavigationItems {
    display: flex;
    gap: 15px;
    align-items: center;
}
.NavItemIcon, .NavItemIcon img {
    width: 25px;
}
.NavItemIcon img {
    width: 25px;
    height: 25px;
}

/* Styling for the header jumbotron */
.Jumbotron {
    display: flex;
    flex-direction: column;
    max-height: 370px;
    overflow: hidden;
    position: relative;
}
.Jumbotron img {
    object-fit: cover;
    overflow: hidden;
}
.Breadcrumbs {
    position: absolute;
    bottom: 100px;
    padding: 0 140px;
    z-index: 2;
}
.Breadcrumbs h1, .Breadcrumbs p, .Breadcrumbs a {
    color: #FFFFFF;
}
.Breadcrumbs h1 {
    font-size: 40px;
}
.Breadcrumbs p {
    font-size: 16px;
}

/* Styling for the footer */
.Footer {
    background-color: var(--LightBlue);
    display: flex;
    flex-direction: column;
}
.Footer .Sitemap {
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 140px;
}
.FooterLogo {
    width: 75%;
    padding: 0;
    align-items: start
}
.FooterNav {
    width: 25%;
}
.Copyright {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 15px 140px;
}


.PageBody {
    padding: 0 140px;
    justify-content: space-between;
    gap: 125px;
}
/* Styling for the home page News posts */
.NewsTest {
    gap: 25px;
    flex-grow: 4;
    text-align: start;

}
.NewsArticle {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    max-height: 300px;
}
.NewsArticle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.NewsTitle {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    gap: 15px;
    justify-content: space-between;
    color: #FFFFFF;
    z-index: 2;
}
.NewsTitle h2 {
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000030;
    z-index: 1;

}

/* Styling for the sidebar */
.Sidebar {
    gap: 25px;
    flex-grow: 1;
}

/* Styling for the Agenda sidebar */
.AgendaItem {
    gap: 10px;
    align-items: center;
}
.AgendaItem p {
    font-weight: bold;
    font-size: 18px;
    text-align: start;
}
.NewsDay {
    background-color: var(--LightBlue);
    color: #FFFFFF;
    padding: 15px;
    border-radius: 50px;
}

/* Styling for the teams archive page */
.Team {
    align-items: center;
    overflow: hidden;
}
.Team img {
    max-height: 200px;
    object-fit: cover;
}

/* Styling for individual teams */
 .idkwtct {
    justify-content: space-between;
 }
.TeamGridContainer {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.TeamGrid {
    padding: 10px 25px;
    grid-template-columns: 2ch 4fr 4fr;
    gap: 10px;
}
.TeamGridMembers {
    background-color: var(--LightBlue);
}
.TeamGrid p {
    color: #FFF;
    font-size: 16px;
}
.TeamGridDes {
    background-color: var(--Orange);
}
.SupportStaff h2 {
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}
.StaffMembers {
    border-bottom: 2px solid var(--DarkBlue);
    background-color: var(--LightBlue);
    padding: 10px 25px;
    gap: 10px;
    justify-content: space-between;
}
.StaffMembers:first-of-type {
    border-top: 2px solid var(--DarkBlue);
}
.StaffMembers p {
    color: #ffffff;
    font-size: 16px;
}
.TeamTrainingen {
    border-bottom: 2px solid var(--DarkBlue);
    background-color: var(--LightBlue);
    padding: 10px 25px;
    gap: 10px;
    justify-content: space-between;
}
.TrainingInfo {
    gap: 20px;
}
.TeamTrainingen:first-of-type {
    border-top: 2px solid var(--DarkBlue);
}
.TeamTrainingen p {
    color: #ffffff;
    font-size: 16px;
}
.Match {
    align-items: center;
}
.MatchTeams {
    background-color: var(--LightBlue);
    justify-content: space-around;
    border-radius: 0 0 15px 15px;
    width: 100%;
}
.MatchTeams p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
    align-items: center;
}
.MatchTeams .MatchVs {
    background-color: var(--DarkBlue);
}

.Matches {
    min-width: 500px;
}
.Matches section {
    gap: 15px;
}
.MatchDetails {
    background-color: var(--DarkBlue);
    width: 80%;
    align-items: center;
    border-radius: 0 0 15px 15px;
    padding: 10px 0;
}
.MatchDetails ul {
    align-items: center;
}
.bleh {
    gap: 50px;
}
.SupportStaff {
    width: fit-content;
}
.SupportStaff, .Matches {
    flex-grow: 1;
}

/* Styling for the vereniging page */
.AboutUs {
    text-align: center;
}

.Contact {
    flex-grow: 4;
}
.Contactform {
    padding: 15px;
    background-color: var(--LightBlue);
}
.Contactform input, .Contactform input::placeholder, .Contactform textarea {
    color: #00000060;
    font-size: 16px;
    font-weight: bold;
}
.Contactform input[type=submit] {
    border: 2px solid var(--DarkBlue);
    background-color: var(--LightBlue);
    color: #FFFFFF;
    transition: 300ms;
}
.Contactform input[type=submit]:hover {
    background-color: var(--DarkBlue);
}
.Contactform input, .Contactform textarea  {
    background: #FFF;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--DarkBlue);
}
.Contactform textarea {
    resize: vertical;
}

.Contactform label {
    color: #FFFFFF;
    font-size: 16px;
    text-align: start;
}

.Grid {
    display: grid;
    justify-content: space-between;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 250px);
}