@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --LightBlue: #3F6FB6;
    --DarkBlue: #2D415F;
    --Orange: #FF6400;
    --DarkOrange: #FF5200;
    --PageXLargePadding: 0 140px;
    --PageLargePadding: 0 75px;
    --PageMediumPadding: 0 50px;
    --PageSmallPadding: 0 25px;
    --PageXSmallPadding: 0 15px;
}

* {margin: 0; padding: 0;}

/* Styling for the texts/fonts */
h1, h2, h3, h4, h5, h6, span, p, a {
    color: black;
    text-decoration: none;
}
h1 { font-size: 2.2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.12em; }
h5 { font-size: 0.875em; }
h6 { font-size: 0.5em; }
p { font-size: 0.75em; }
a:hover {text-decoration: underline;}

html {overflow-x: hidden;}
body {
    min-height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 125px;
}

/* Styling for default lists */
.List {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}
.ListItem, .ListItem a {
    color: #FFFFFF;
    font-size: 1.25em;
    gap: 5px; 
}
.ListItem a {
    text-indent: 0.2em
}
.ListIcon {
    color: #FFFFFF;
    width: 18px;
    height: 18px;
}

/* Styling for the default buttons */
.Btn {
    width: fit-content;
    padding: 8px 18px;
    text-decoration: none;
    color: white;
    font-size: 1em;;
    text-align: center;
    border-radius: 5px;
    transition-duration: 300ms;
}
.Btn:hover {
    text-decoration: none;
}
.BtnBlue { background-color: var(--LightBlue); }
.BtnBlue:hover { background-color: var(--DarkBlue); }
.BtnOrange { background-color: var(--Orange); }
.BtnOrange:hover { background-color: var(--DarkOrange); }
.BtnIcon {
    display: flex;
    flex-direction: row;
    color: var(--LightBlue);
    border-bottom: 2px solid var(--LightBlue);
    padding: 15px 10px;
    align-content: center;
    text-decoration: none;
    transition-duration: 300ms;
    justify-content: space-between;
    font-size: 1.25em;
    font-weight: bold;
}
.BtnIcon:hover {
    color: var(--Orange);
    border-color: var(--Orange);
    text-decoration: none;
}
/* Mobile Display toggle */
.Mobile {
    display: none;
}
/* Flex styling */
.FlexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.FlexCol {
    display: flex;
    flex-direction: column;
}

/* Grid styling */
.Grid {
    display: Grid;
}
.GridContainer {
    justify-content: space-between;
    gap: 25px;
    Grid-template-columns: repeat(auto-fill, 250px);
}

.Section {
    width: 100%;
}
.SectionTitle {
    padding: 15px 14px;
    background-color: var(--Orange);
    border-radius: 15px 15px 0 0;
    text-transform: uppercase;
}
.SectionTitle h2 {
    color: #FFFFFF;
}
.RowArticles {
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.ColArticles {
    gap: 10px;
}

/* Styling for the header navigation */
.Navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--PageXLargePadding);
    background-color: var(--LightBlue);
    gap: 25px;
}
.NavigationGroup {
    align-items: center;
    display: flex;
    padding: 12.5px 0;
    gap: 25px;
}
.NavigationLogo {
    width: 250px;
}
.NavItem {
    list-style-type: none;
}
.NavItem a {
    font-size: 1em;;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition-duration: 300ms;

}
.NavItem a:hover {
    background-color: var(--DarkBlue);
}
.NavigationItems {
    display: flex;
    gap: 15px;
    align-items: center;
}
.NavItemIcon, .NavItemIcon img {
    width: 25px;
}
.NavItemIcon img {
    width: 25px;
    height: 25px;
}

/* Styling for the header jumbotron */
.Jumbotron {
    display: flex;
    flex-direction: column;
    /* max-height: 370px; */
    height: 300px;
    overflow: hidden;
    position: relative;
}
.Jumbotron img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.Breadcrumbs {
    position: absolute;
    bottom: 50px;
    padding: var(--PageXLargePadding);
    z-index: 2;
}
.Breadcrumbs h1, .Breadcrumbs p, .Breadcrumbs a {
    color: #FFFFFF;
}
.Breadcrumbs h1 {
    font-size: 2.5em;
    letter-spacing: 0.01em;
    line-height: 48px;
}
.Breadcrumbs p {
    font-size: 1em;;
}

/* Styling for the footer */
.Footer {
    background-color: var(--LightBlue);
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.Sitemap {
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 140px;
}
.FooterLogo {
    width: 75%;
    padding: 0;
    align-items: start
}
.FooterNav {
    width: 25%;
}
.Copyright {
    padding: var(--PageXLargePadding);
}
.Copyright p {
    color: #FFFFFF;
    font-size: 1em;;
    text-align: center;
    padding: 15px;
}


.PageBody {
    padding: var(--PageXLargePadding);
    justify-content: space-between;
    gap: 125px;
}
/* Styling for the home page News posts */
.NewsTest {
    gap: 25px;
    flex-grow: 4;
    text-align: start;

}
.NewsArticle {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    max-height: 300px;
}
.NewsArticle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.NewsTitle {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    gap: 15px;
    justify-content: space-between;
    color: #FFFFFF;
    z-index: 2;
}
.NewsTitle h2 {
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000030;
    z-index: 1;

}

/* Styling for the sidebar */
.Sidebar {
    gap: 25px;
    flex-grow: 1;
}

/* Styling for the Agenda sidebar */
.AgendaItem {
    gap: 10px;
    align-items: center;
}
.AgendaItem section {
    flex-grow: 1;
}
.AgendaItem p {
    font-weight: bold;
    font-size: 1.12em;
    text-align: start;
}
.NewsDay {
    background-color: var(--LightBlue);
    color: #FFFFFF;
    padding: 15px;
    border-radius: 50px;
}

/* Styling for the teams archive page */
.Team {
    align-items: center;
    overflow: hidden;
}
.Team img {
    max-height: 200px;
    object-fit: cover;
}

/* Styling for individual teams */
 .TeamSpacer {
    justify-content: space-between;
    gap: 50px;
 }
.TeamGridContainer {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    flex-grow: 1;
}
.TeamPicture {
    flex-grow: 2;
}
.TeamPicture img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    max-height: 350px;
}
.TeamGrid {
    padding: 10px 25px;
    Grid-template-columns: 2ch 4fr 4fr;
    gap: 10px;
}
.TeamGridMembers {
    background-color: var(--LightBlue);
}
.TeamGrid p {
    color: #FFF;
    font-size: 1em;;
}
.TeamGridDes {
    background-color: var(--Orange);
}
.SupportStaff h2 {
    font-size: 1em;;
    font-weight: normal;
    text-transform: none;
}
.StaffMembers {
    border-bottom: 2px solid var(--DarkBlue);
    background-color: var(--LightBlue);
    padding: 10px 25px;
    gap: 10px;
    justify-content: space-between;
}
.StaffMembers:first-of-type {
    border-top: 2px solid var(--DarkBlue);
}
.StaffMembers p {
    color: #ffffff;
    font-size: 1em;;
}
.TeamTrainingen {
    border-bottom: 2px solid var(--DarkBlue);
    background-color: var(--LightBlue);
    padding: 10px 25px;
    gap: 10px;
    justify-content: space-between;
}
.TrainingInfo {
    gap: 20px;
}
.TeamTrainingen:first-of-type {
    border-top: 2px solid var(--DarkBlue);
}
.TeamTrainingen p {
    color: #ffffff;
    font-size: 1em;;
}
.Match {
    align-items: center;
}
.MatchTeams {
    background-color: var(--LightBlue);
    justify-content: space-around;
    border-radius: 0 0 15px 15px;
    width: 100%;
}
.MatchTeams p {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px;
    align-items: center;
}
.MatchTeams .MatchVs {
    background-color: var(--DarkBlue);
}

.Matches {
    min-width: 500px;
}
.Matches section {
    gap: 15px;
}
.MatchDetails {
    background-color: var(--DarkBlue);
    width: 80%;
    align-items: center;
    border-radius: 0 0 15px 15px;
    padding: 10px 0;
}
.MatchDetails ul {
    align-items: center;
}
.SupportStaff {
    width: fit-content;
}
.SupportStaff, .Matches {
    flex-grow: 1;
}

/* Styling for the vereniging page */
.AboutUs {
    text-align: center;
    word-spacing: 2px;
}

.Contact {
    flex-grow: 4;
}
.ContactForm {
    padding: 15px;
    background-color: var(--LightBlue);
}
.ContactForm input, .ContactForm input::placeholder, .ContactForm textarea {
    color: #00000060;
    font-size: 1em;;
    font-weight: bold;
}
.ContactForm input[type=submit] {
    border-width: 2px;
    border-style: solid;
    border-color: var(--DarkBlue);
    background-color: var(--Orange);
    color: #FFFFFF;
    transition: 300ms;
}
.ContactForm input[type=submit]:hover {
    background-color: var(--DarkBlue);
}
.ContactForm input, .ContactForm textarea  {
    background: #FFF;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--DarkBlue);
}
.ContactForm textarea {
    resize: vertical;
}

.ContactForm label {
    color: #FFFFFF;
    font-size: 1em;;
    text-align: start;
}
.ContactForm fieldset {
    width: 100%;
    text-align: start;
    color: #FFF;
    padding: 5px;
}
/* Cookies styling */
.Cookies {
    position: fixed;
    z-index: 9999;
    padding: 50px;
    background-color: var(--DarkBlue);
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}
.CookiesOption {
    justify-content: center;
}
.CookiesOption input[type=radio] {
    display: none;
}
.Cookies p {
    color: #FFF;
    font-size: 1em;;
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .Navigation, .Breadcrumbs, .PageBody, .Sitemap, .Copyright {
        padding: var(--PageLargePadding);
    }
    .Sidebar {
        flex-direction: row;
    }
    .Sidebar section {
        width: 50%;
    }
    .TeamGridContainer {
        flex-grow: 1;
    }
    .TeamPicture, .Jumbotron .Desktop {
        display: none;
    }
    .Jumbotron {
        height: 200px;
    }
    .Breadcrumbs {
        bottom: 20px;
    }
    .Jumbotron .Tablet, .Jumbotron .Mobile {
        display: block;
        object-position: top;
    }
    body, .PageBody {
        gap: 100px;
    }
    .ContactForm input {
        flex-grow: 1;
    }
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
    .Navigation, .Breadcrumbs, .PageBody, .Sitemap, .Copyright {
        padding: var(--PageMediumPadding);
    }
    .Navigation {
        flex-wrap: wrap;
        gap: 0;
    }
    .NavigationGroup:first-child {
        justify-content: space-between;
    }
    .NavigationGroup {
        width: 100%;
        justify-content: center;
    }
    .Jumbotron {
        height: 150px;
    }
    .Breadcrumbs {
        bottom: 20px;
    }
    .Sidebar {
        flex-direction: row;
    }
    .Sidebar section {
        width: 50%;
    }
    .GridContainer {
        Grid-template-columns: repeat(auto-fill, 30%);
    }
    .Team img {
        width: 100%;
    }
    .SectionTitle {
        text-align: center;
    }
    .TeamPicture, .Jumbotron .Desktop {
        display: none;
    }
    .Jumbotron .Tablet, .Jumbotron .Mobile {
        display: block;
        object-position: top;
    }
    body, .PageBody {
        gap: 75px;
    }
    .ContactForm input {
        flex-grow: 1;
    }
    .Cookies {
        top: calc(40% - 40px);
        left: calc(40% - 40px);
        padding: 25px;
    }
}
@Media only screen and (Min-width: 578px) and (max-width: 768px) {
    .Navigation, .Breadcrumbs, .PageBody, .Sitemap, .Copyright {
        padding: var(--PageSmallPadding);
    }
    .Navigation {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .NavigationGroup {
        flex-wrap: wrap;
        justify-content: center;
    }
    .Sitemap {
        flex-wrap: wrap;
        gap: 25px;
    }
    .Jumbotron {
        height: 150px;
    }
    .Breadcrumbs {
        bottom: 20px;
    }
    .Footer, .Copyright {
        padding: 25px 0;
    }
    .FooterLogo, .FooterNav {
        width: 100%;
    }
    .NewsTest {
        flex-wrap: wrap;
    }
    .GridContainer {
        Grid-template-columns: repeat(auto-fill, 45%);
    }
    .Team img {
        width: 100%;
    }
    .SectionTitle {
        text-align: center;
    }
    .TeamPicture, .Jumbotron .Desktop {
        display: none;
    }
    .Jumbotron .Tablet, .Jumbotron .Mobile {
        display: block;
        object-position: top;
    }
    body, .PageBody {
        gap: 50px; 
    }
    .ContactForm input {
        flex-grow: 1;
    }
    .Cookies {
        top: calc(40% - 40px);
        left: calc(40% - 40px);
        padding: 25px;
    }
}
@media only screen and (max-width: 577px) {
    .Navigation, .Breadcrumbs, .PageBody, .Sitemap, .Copyright {
        padding: var(--PageXSmallPadding);
    }
    .Navigation {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .NavigationGroup {
        flex-wrap: wrap;
        justify-content: center;
    }
    .NavItem {
        width: 100%;
        text-align: center;
    }
    .Sitemap {
        flex-wrap: wrap;
        gap: 25px;
    }
    .Jumbotron {
        height: 150px;
    }
    .Breadcrumbs {
        bottom: 20px;
    }
    .Footer, .Copyright {
        padding: 25px 0;
    }
    .FooterLogo, .FooterNav {
        width: 100%;
    }
    .GridContainer {
        Grid-template-columns: repeat(auto-fill, 100%);
    }
    .Team img {
        width: 100%;
    }
    .SectionTitle {
        text-align: center;
    }
    .TeamPicture, .Jumbotron .Desktop {
        display: none;
    }
    .Jumbotron .Tablet, .Jumbotron .Mobile {
        display: block;
        object-position: top;
    }
    body, .PageBody {
        gap: 50px;
    }
    .SectionTitle h2 {
        font-size: 1.5em;
    }
    .MatchTeams p {
        font-size: 1em;;
    }
    .ListItem a, .ListItem {
        font-size: 1em;;
    }
    .Matches {
        min-width: 0;
        flex-grow: 1;
    }
    .ContactForm input {
        flex-grow: 1;
    }
    .Cookies {
        top: calc(40% - 40px);
        left: calc(40% - 40px);
        padding: 25px;
    }
}