.Section {
    width: 100%;
}
.SectionTitle {
    padding: 15px 14px;
    background-color: #FF5200;
    border-radius: 15px 15px 0 0;
}
.SectionTitle h2 {
    color: #FFFFFF;
}

.SectionArticles {
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}